body {
  font-family: 'Roboto', sans-serif; }

::-webkit-scrollbar {
  width: 6px;
  /* for vertical scrollbars */
  height: 6px;
  /* for horizontal scrollbars */ }

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px; }

th .mdl-icon-toggle {
  height: 29px; }

.date-icon-table-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.overview-card > .mdl-card__title {
  color: #fff;
    color-background: url("") bottom right 15% no-repeat #1976D2; }

#tasks .mdl-card__title {
  background: #1565C0; }

.mdl-card__title-text {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.tasks-table {
  width: 100%; }

#tasks {
  padding: 0; }

.vertical-cards-container {
  margin: 0;
  padding: 0; }

/*CONTENT PAGE================================*/
.table-icons {
  width: 20px; }

#content-table {
  width: 100%; }

#category-form {
  width: 150px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  padding-left: 8px; }

.vid-sort-controls {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: -12px; }

.content .controls {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

/*MODERATION PAGE=============================*/
#inbox,
#inprog,
#done {
  height: 100vh;
  padding: 10px;
  border: 1px solid #f9f9f9;
  background: #fafafa;
  border-radius: 4px; }

#inbox .moderation-card.mdl-card {
  width: 100%;
  max-width: 350px;
  height: auto;
  background: white;
  margin-bottom: 8px; }

#inprog .moderation-card.mdl-card {
  width: 100%;
  max-width: 350px;
  height: auto;
  background: #FFF176;
  margin-bottom: 8px; }

#done .moderation-card.mdl-card {
  width: 100%;
  max-width: 350px;
  height: auto;
  background: #AED581;
  margin-bottom: 8px; }

.moderation-card > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2); }

.moderation-card > .mdl-card__title {
  display: block; }

.moderation-card > .mdl-card__title > h4 {
  margin-top: 0; }

.moderation-card > .mdl-card__actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.mdl-card__actions.mdl-card--border {
  border-top: 1px solid rgba(0, 0, 0, 0.2); }

.moderation-card > .mdl-card__actions > .material-icons {
  padding-right: 10px; }

.moderation-card > .mdl-card__title,
.moderation-card > .mdl-card__actions,
.moderation-card > .mdl-card__actions > .mdl-button {
  color: rgba(0, 0, 0, 0.87); }

.mod-card-name {
  font-size: 1.6rem; }

mod-card-author {
  font-size: 1.3rem; }

/*THIS CURSOR MAKE ITEMS APPEAR GRABBABLE*/
.grabbable {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: -webkit-grab;
  cursor: grab; }

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

table#messages-table {
  width: 100%; }
  table#messages-table tr th {
    text-align: left; }
  table#messages-table tr th#date {
    text-align: end; }

.controls {
  border: 1px solid #F9F9F9;
  padding: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*align-content: flex-end*/ }

/* ====== New user dialogue ====== */
.mdl-dialog {
  border: none;
  -webkit-box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 80%; }

.mdl-dialog__title {
  padding: 24px 24px 0;
  margin: 0;
  font-size: 2.5rem; }

.mdl-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.mdl-dialog__actions > * {
  margin-right: 8px;
  height: 36px; }

.mdl-dialog__actions > *:first-child {
  margin-right: 0; }

.mdl-dialog__actions--full-width {
  padding: 0 0 8px 0; }

.mdl-dialog__actions--full-width > * {
  height: 48px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right; }

.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0, 0, 0, 0.54); }

/* ====== End of new user dialogue ====== */
.userphoto {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.send-email-checkbox {
  margin-top: 16px; }

/*FRONT PAGE*/
.front-screen {
  height: 96vh; }

#sell-button {
  color: white; }

#signin-button {
  color: white; }

#cart-button {
  color: white; }
  #cart-button .mdl-badge,
  #cart-button .mdl-badge--overlap {
    z-index: 2000; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 78vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.wrapper2 {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

#backshape {
  position: absolute;
  top: -80%;
  left: -40%;
  min-width: 100%;
  min-height: 100%;
  width: 150%;
  height: 150%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: skew(10deg, -10deg);
      -ms-transform: skew(10deg, -10deg);
          transform: skew(10deg, -10deg);
  z-index: -100;
  border-radius: 50%;
  background: -webkit-linear-gradient(67deg, #defff7, #bcf4ff);
  background: linear-gradient(23deg, #defff7, #bcf4ff); }

footer {
  z-index: 1; }

header#mini-header.mdl-layout__header.mdl-layout__header--transparent.mdl-layout__header--waterfall {
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#mini-header.is-casting-shadow.is-compact {
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
  padding-right: 0;
  background: rgba(0, 0, 0, 0.5); }

.demo-layout-transparent {
  background: #fafafa; }

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
   your background is light. */
  color: white;
  background: transparent;
  -webkit-transition: .3s;
  transition: .3s; }

.is-casting-shadow.is-compact {
  background: rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#mini-layout {
  color: black; }

video#video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/*END OF FRONT PAGE*/
.title-container {
  width: 100vw;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.43); }

.often-searches-container {
  padding-left: 0;
  color: white;
  width: 100vw;
  margin-bottom: 23vw; }

#often-searches-title {
  font-size: 24px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 0; }

#often-searches-list {
  margin-top: 0;
  text-align: center; }
  #often-searches-list ul {
    list-style-type: none;
    margin-left: -32px; }
    #often-searches-list ul li {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      margin-right: 16px;
      font-size: 18px; }
      #often-searches-list ul li a {
        text-decoration: none;
        color: white; }
      #often-searches-list ul li a:hover {
        text-decoration: underline;
        color: default; }

.bigtitle {
  margin-top: 15vh;
  margin-bottom: 10vh;
  color: white;
  font-size: 80px;
  font-weight: 100;
  text-align: center;
  line-height: 3rem; }

@media only screen and (max-width: 1024px) {
  .bigtitle {
    font-size: 60px; } }

@media only screen and (max-width: 768px) {
  .bigtitle {
    font-size: 50px;
    line-height: 3rem; } }

@media only screen and (max-width: 425px) {
  .bigtitle {
    font-size: 40px;
    line-height: 3rem; } }

/*SEARCH BAR*/
.mdh-expandable-search {
  margin: 0 50px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.mdh-expandable-search form {
  max-width: 600px; }

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.mdh-expandable-search,
.mdh-expandable-search form {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

/* Position search icon */
.mdh-expandable-search .material-icons {
  position: relative;
  right: -40px;
  margin-left: -24px;
  /* Remove the blank space left behind by the icon being relatively positioned */ }

.mdh-expandable-search input {
  outline: none;
  border: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0px 35px 0px 70px;
  height: 40px;
  line-height: 40px;
  /* TODO: This was recommended for cross browser compatability of input height, check if its actually needed in modern browsers */
  border-radius: 5px 5px 5px 5px; }

.mdh-expandable-search input::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.87); }

.mdh-expandable-search input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
  /* Firefox gives the placeholder a reduced opacity so we have to increase it */ }

.mdh-expandable-search input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.87);
  opacity: 1;
  /* Firefox gives the placeholder a reduced opacity so we have to increase it */ }

.mdh-expandable-search input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(0, 0, 0, 0.87); }

/* Bug fix: https://github.com/google/material-design-lite/issues/1078
 * To much padding on the left of header when the menu button is hidden */
@media screen and (min-width: 851px) {
  .mdl-layout__header-row {
    /*padding: 0 40px 0 40px*/ } }

/* Bug fix for badges being in the wrong location */
.mdl-badge[data-badge]:after {
  right: -7px;
  top: -8px; }

.searchbar {
  /*padding-top: 40vh*/ }

/*END OF SEARCH BAR*/
.medium-title {
  font-size: 2rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  line-height: 5rem; }

.small-title {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  line-height: 3rem; }

.cart {
  max-width: 600px; }
  .cart .total-price {
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500; }
  .cart .mdl-dialog__title {
    font-size: 2rem;
    font-weight: 300; }
  .cart .cart-item {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .cart .cart-item .cart-item-thumb img {
      width: 100%; }
    .cart .cart-item .cart-item-info .cart-item-name {
      width: 100%;
      height: 2.5rem;
      overflow-y: hidden;
      font-size: 1.3rem;
      line-height: 2.5rem; }
      .cart .cart-item .cart-item-info .cart-item-name .cart-item-price {
        font-size: 1.4rem;
        line-height: 2.5rem; }
    .cart .cart-item .cart-item-controls {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }

.container {
  background: #fffffa;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.video-card {
  min-height: 0px;
  width: 100%;
  -webkit-transition: .1s;
  transition: .1s; }
  .video-card .mdl-card__actions {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.3;
    -webkit-transition: .1s;
    transition: .1s;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .video-card .mdl-card__actions a {
      color: white; }
  .video-card .mdl-card__media {
    background: grey; }
    .video-card .mdl-card__media video {
      width: 100%; }

.video-card:hover {
  cursor: pointer;
  margin-left: -26px;
  margin-top: -8px;
  margin-bottom: -10%;
  width: 116%;
  -webkit-box-shadow: 0px 0px 30px black;
          box-shadow: 0px 0px 30px black;
  z-index: 20; }
  .video-card:hover .mdl-card__actions {
    opacity: 1;
    -webkit-transform: translate(-50% -50%);
        -ms-transform: translate(-50% -50%);
            transform: translate(-50% -50%); }
  .video-card:hover .mdl-card__actions > .material-icons {
    padding-right: 10px; }

.category-card {
  min-height: 0px;
  width: 100%;
  -webkit-transition: .1s;
  transition: .1s; }
  .category-card .mdl-card__media {
    position: relative; }
    .category-card .mdl-card__media:before {
      display: block;
      content: " ";
      width: 100%;
      padding-top: 56.25%; }
    .category-card .mdl-card__media > img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .category-card .mdl-card__actions {
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
    -webkit-transition: .1s;
    transition: .1s;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .category-card .mdl-card__actions a {
      color: white; }
  .category-card .mdl-card__media {
    background: grey; }
    .category-card .mdl-card__media img {
      width: 100%; }

.category-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px black;
          box-shadow: 0px 0px 30px black;
  z-index: 20; }
  .category-card:hover .mdl-card__actions {
    opacity: 1;
    -webkit-transform: translate(-50% -50%);
        -ms-transform: translate(-50% -50%);
            transform: translate(-50% -50%); }
  .category-card:hover .mdl-card__actions > .material-icons {
    padding-right: 10px; }

.cat-controls {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -32px;
  margin-bottom: -6px; }
  .cat-controls form {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .cat-controls hr {
    margin-top: 0px;
    margin-bottom: 0; }
  .cat-controls span {
    margin: 0 8px; }

p#about {
  font-size: 12px; }

.author-box {
  z-index: 1;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.04); }

.author-box-title {
  margin: 0 16px -16px;
  color: rgba(0, 0, 0, 0.54); }

.author-box-avatar {
  margin-bottom: 0; }

.bio {
  padding-bottom: 16px; }

.video-watch-box {
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 32px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }
  .video-watch-box video {
    width: 100%;
    margin-bottom: 16px; }

.width100 {
  width: 100%; }

#vid-info {
  padding: 16px;
  z-index: 1; }

.watermark {
  position: relative; }
  .watermark img {
    position: absolute;
    z-index: 0;
    top: 110px;
    left: 35%; }

.buying-details {
  padding: 16px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1; }

#formats, #video-price {
  color: rgba(0, 0, 0, 0.87);
  display: inherit; }
  #formats i, #video-price i {
    color: rgba(0, 0, 0, 0.54); }
  #formats span, #video-price span {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 8px; }

#add-to-cart-btn {
  margin-top: 16px; }

.more-box {
  padding: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.vid-upl-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.8); }

.upload-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.video-holder {
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333;
  width: 100%;
  height: 203px; }

#vid-upload-btn {
  background: white;
  color: black; }

.video-details-container {
  padding: 16px; }

.placeholder-icon {
  color: #ddd;
  font-size: 6rem;
  text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5); }

.vid-info-card {
  padding: 16px;
  overflow: visible; }

.category-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 8px;
  width: 100%; }
  .category-box .cat {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 272px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.category-box > div {
  padding-right: 8px;
  width: 240px; }

#add-category-btn {
  color: rgba(0, 0, 0, 0.54);
  margin: 0 -8px 0 8px; }

#video-keywords {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  #video-keywords div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px; }

#video-description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  #video-description div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 600px; }

#video-btn-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #video-btn-box button {
    margin-right: 16px; }

.upl-another-box {
  width: 100%;
  margin-bottom: 16px; }

#price-currency-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

#price-box {
  padding-right: 16px;
  width: 50px; }

#currency-box {
  width: 60px; }

dialog::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.5); }

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); }

dialog + .backdrop {
  background-color: rgba(0, 0, 0, 0.5); }

#uploader-header {
  background: white; }
  #uploader-header * {
    color: rgba(0, 0, 0, 0.87); }

.upl-card-container {
  background: #fafafa; }

.upl-dash-card {
  background: #fff;
  width: -webkit-calc(100% - 16px);
  width: calc(100% - 16px);
  min-height: 0;
  margin: 16px 0 16px 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
  overflow: visible; }
  .upl-dash-card .card-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 16px;
    font-weight: 300; }
  .upl-dash-card .card-data {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 16px 16px 0 0;
    font-size: 1.5rem;
    font-weight: 300; }
  .upl-dash-card hr {
    width: 100%; }
  .upl-dash-card .card-hint {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0 0 16px 16px;
    font-size: .9rem;
    font-weight: 300; }
    .upl-dash-card .card-hint a {
      color: rgba(0, 0, 0, 0.54); }
    .upl-dash-card .card-hint i {
      font-size: 1.3rem;
      color: red;
      margin-right: 8px; }
  .upl-dash-card .card-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -20px;
    left: 12px;
    background: -webkit-linear-gradient(30deg, #ffa726, #EF6C00);
    background: linear-gradient(60deg, #ffa726, #EF6C00);
    color: white;
    width: 90px;
    height: 90px;
    -webkit-box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.15);
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8px;
    z-index: 1; }
    .upl-dash-card .card-icon i {
      font-size: 4rem; }

#storageCard .card-icon {
  background: -webkit-linear-gradient(30deg, #5E35B1, #039BE5);
  background: linear-gradient(60deg, #5E35B1, #039BE5); }

#storageCard .card-hint i {
  color: red; }

#loveCard .card-icon {
  background: -webkit-linear-gradient(30deg, #F50057, #FF8A80);
  background: linear-gradient(60deg, #F50057, #FF8A80); }

#loveCard .card-hint i {
  color: blue; }

#pizzaCard .card-icon {
  background: -webkit-linear-gradient(30deg, #fb8c00, #FFCA29);
  background: linear-gradient(60deg, #fb8c00, #FFCA29); }

#pizzaCard .card-hint i {
  color: red; }

#gameCard .card-icon {
  background: -webkit-linear-gradient(30deg, #43A047, #FFEB3B);
  background: linear-gradient(60deg, #43A047, #FFEB3B); }

#gameCard .card-hint i {
  color: green; }

.uploader-video-card {
  min-height: 0px;
  width: 100%;
  -webkit-transition: .1s;
  transition: .1s; }
  .uploader-video-card .mdl-card__actions {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    position: absolute;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0.3;
    -webkit-transition: .1s;
    transition: .1s;
    padding-left: 16px;
    padding-right: 16px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .uploader-video-card .mdl-card__actions a {
      color: white; }
  .uploader-video-card .mdl-card__media {
    background: grey; }
    .uploader-video-card .mdl-card__media video {
      width: 100%; }

.uploader-video-card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px black;
          box-shadow: 0px 0px 30px black;
  z-index: 20; }
  .uploader-video-card:hover .mdl-card__actions {
    opacity: 1;
    -webkit-transform: translate(-50% -50%);
        -ms-transform: translate(-50% -50%);
            transform: translate(-50% -50%); }
  .uploader-video-card:hover .mdl-card__actions > .material-icons {
    padding-right: 10px; }
