include templates/website-layout
  block main
    // TITLE
    .mdl-grid.title-container
      .mdl-cell.mdl-cell--12-col.bigtitle!= '4k and FullHD' + ' stock' + '&nbsp' + 'videos'

    // SEARCH
    .mdl-grid.searchbar
      .mdh-expandable-search
              i.material-icons search
              form(action='#')
                input(type='text', placeholder='Search', size='1')

    // OFTEN SEARCHES
    .often-searches-container.mdl-grid
      span#often-searches-title.mdl-cell.mdl-cell--12-col  Popular searches:
      span#often-searches-list.mdl-cell.mdl-cell--12-col
        ul
          li
            a(href="#") street
          li
            a(href="#") sky
          li
            a(href="#") animals
          li
            a(href="#") cars
          li
            a(href="#") New York
    

    dialog.mdl-dialog.cart
      h4.mdl-dialog__title Shopping cart
      .mdl-dialog__content
        p
          | Your shopping cart is empty.
      .mdl-dialog__actions
        button.mdl-button(type='button' disabled) checkout
        button.mdl-button.close(type='button') continue shopping
    script.
      var dialog = document.querySelector('dialog');
      var showDialogButton = document.querySelector('#show-dialog');
      if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
      }
      showDialogButton.addEventListener('click', function() {
      dialog.showModal();
      });
      dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
      });


    // CATEGORIES
    .latest-container.mdl-grid
      .medium-title.mdl-cell.mdl-cell--12-col Latest footage

      .mdl-cell.mdl-cell--4-col
        .video-card.mdl-card.mdl-shadow--8dp
          .mdl-card__media
            video(style="width: 100%")
              source(src="./videos/river.mp4")
      .mdl-cell.mdl-cell--4-col
        .video-card.mdl-card.mdl-shadow--8dp
          .mdl-card__media
            video(style="width: 100%")
              source(src="./videos/street.mp4")
      .mdl-cell.mdl-cell--4-col
        .video-card.mdl-card.mdl-shadow--8dp
          .mdl-card__media
            video(style="width: 100%")
              source(src="./videos/plant.mp4")

  script.
    var figure = $(".mdl-card__media").hover( hoverVideo, hideVideo );
    function hoverVideo(e) {  
        $('video', this).get(0).play(); 
    }
    function hideVideo(e) {
        $('video', this).get(0).pause(); 
    }


video#video.fullscreen(muted volume="0") //autoplay off
  source(src="./videos/river.mp4")

script.
  var myvid = document.getElementById('video');
  var myvids = [
    "./videos/river.mp4", 
    "./videos/plant.mp4",
    "./videos/bubble.mp4",
    "./videos/street.mp4"
    ];
  var activeVideo = 0;

  myvid.addEventListener('ended', function(e) {
    // update the new active video index
    activeVideo = (++activeVideo) % myvids.length;

    // update the video source and play
    myvid.src = myvids[activeVideo];
    myvid.play();
  });