doctype html
html
  head
    // Material Design Lite
    script(src='https://code.getmdl.io/1.3.0/material.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500', rel='stylesheet')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.indigo-pink.min.css')
    // Material Design icon font
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', type='text/css', href='css/style.css')
  body
    // Uses a transparent header that draws on top of the layout's background
    .demo-layout-transparent.mdl-layout.mdl-js-layout
      header.mdl-layout__header.mdl-layout__header--transparent.mdl-layout__header--waterfall
        .mdl-layout__header-row
          // Title
          img.mdl-layout-title(src="./images/dopcine_logo_white.svg" width="100px")
          // Add spacer, to align navigation to the right
          .mdl-layout-spacer
          button#sell-button.mdl-button.mdl-js-button.mdl-js-ripple-effect <i class="material-icons">file_upload</i> Sell video
          button#signin-button.mdl-button.mdl-js-button.mdl-js-ripple-effect sign in
          .mdl-badge.mdl-badge--overlap(data-badge='1')
            button#cart-button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect <i class="material-icons">shopping_cart</i>

          // Navigation
        .mdl-layout__header-row
          .mdl-layout-spacer
          nav.mdl-navigation
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
            a.mdl-navigation__link(href='') Link
      .mdl-layout__drawer
        span.mdl-layout-title Title
        nav.mdl-navigation
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
          a.mdl-navigation__link(href='') Link
      main.mdl-layout__content
        // SEARCH

        .mdl-grid.title-container
          .mdl-cell.mdl-cell--12-col.bigtitle  4k and FullHD stock videos
        .mdl-grid.searchbar
          .mdh-expandable-search
                  i.material-icons search
                  form(action='#')
                    input(type='text', placeholder='Search', size='1')
        div(style="height: 1000px; background: rgba(255,255,250,1); margin-top: 50vh;")

    video#video.fullscreen(preload autoplay muted volume="0")
      source(src="./videos/river.mp4")
      

    //- script.
    //-   setTimeout(function(){
    //-     document.getElementById('video').play();
    //-   },2000);
    
    script.
      var myvid = document.getElementById('video');
      var myvids = [
        "./videos/river.mp4", 
        "./videos/plant.mp4",
        "./videos/bubble.mp4",
        "./videos/street.mp4"
        ];
      var activeVideo = 0;

      myvid.addEventListener('ended', function(e) {
        // update the new active video index
        activeVideo = (++activeVideo) % myvids.length;

        // update the video source and play
        myvid.src = myvids[activeVideo];
        myvid.play();
      });
