include templates/website-layout
  block main
    // TITLE
    .mdl-grid.title-container
      .mdl-cell.mdl-cell--12-col.bigtitle!= '4k and FullHD' + ' stock' + '&nbsp' + 'videos'

    // SEARCH
    .mdl-grid.searchbar
      .mdh-expandable-search
              i.material-icons search
              form(action='#')
                input(type='text', placeholder='Search', size='1')

    // OFTEN SEARCHES
    .often-searches-container.mdl-grid
      span#often-searches-title.mdl-cell.mdl-cell--12-col  Popular searches:
      span#often-searches-list.mdl-cell.mdl-cell--12-col
        ul
          li
            a(href="#") street
          li
            a(href="#") sky
          li
            a(href="#") animals
          li
            a(href="#") cars
          li
            a(href="#") New York

    // CATEGORIES
    div(style="height: 1000px; background: rgba(255,255,250,1); margin-top: 50vh;")
      .medium-title Latest footage

video#video.fullscreen(preload  muted volume="0") //autoplay
  source(src="./videos/river.mp4")
  

script.
  var myvid = document.getElementById('video');
  var myvids = [
    "./videos/river.mp4", 
    "./videos/plant.mp4",
    "./videos/bubble.mp4",
    "./videos/street.mp4"
    ];
  var activeVideo = 0;

  myvid.addEventListener('ended', function(e) {
    // update the new active video index
    activeVideo = (++activeVideo) % myvids.length;

    // update the video source and play
    myvid.src = myvids[activeVideo];
    myvid.play();
  });
