extends templates/uploader-layout
block header
  - var pageTitle = 'Uploads'
  include templates/uploader-header
block main
  .mdl-grid.width100
    .upl-card-container.mdl-cell--12-col.mdl-grid
      .small-title.mdl-cell.mdl-cell--12-col Published
      +video('plant', 130)
      +video('street', 210)
      +video('river', 119)
      +video('plant', 86)
      +video('street' ,92)
      +video('lviv', 17)
      +video('plant', 130)
      +video('street', 210)
      +video('river', 119)
      +video('plant', 86)
      +video('street' ,92)
      +video('lviv', 17)
    .upl-card-container.mdl-cell--12-col.mdl-grid
      #unpublished-title.small-title.mdl-cell.mdl-cell--12-col Unpublished
      #emptyUnpublushed
        div You don't have unpublished videos
              

mixin video (filename, price, href)
  .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--12-col-phone
        .uploader-video-card.mdl-card.mdl-shadow--8dp
          .mdl-card__media
            video(preload="none" poster="./images/" + filename + ".png")
              source(src="./videos/" + filename + ".mp4")
          .mdl-card__actions.mdl-card--border
            span.price #{price} EUR
            .mdl-layout-spacer
            a(href="uploader-edit-video.html")
              button.mdl-button.mdl-js-button.mdl-button--icon
                i.material-icons edit