extends templates/upload-layout
block header
  include templates/uploader-header
block main
  .mdl-grid
    .medium-title.mdl-cell.mdl-cell--12-col Edit item
    // Left section with Author's infi/bio
    .vid-edit-container
      .video-holder.mdl-grid
        video.mdl-cell.mdl-cell--12-col-phone.mdl-cell--6-col-tablet.mdl-cell--6-col(src="videos/lviv.mp4" controls)
          button#vid-upload-btn.mdl-button.mdl-button--raised.mdl-js-button.mdl-js-ripple-effect
            i.material-icons file_upload
            | &nbsp Upload footage

      .video-details.mdl-grid
        // Title
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#video-name.mdl-textfield__input(type="text" value="Arial footage of Lviv") 
          label.mdl-textfield__label(for="video-name") Add video title
        // End of Title
        
        // Categories
        .category-box
          .cat
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height
              input#video-category.mdl-textfield__input(type='text', readonly='', tabindex='-1' size="100" value="Space")
              label(for='video-category')
                i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
              label.mdl-textfield__label(for='video-category') Category
              ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='video-category')
                li.mdl-menu__item(data-val='DE') Space
                li.mdl-menu__item(data-val='BY') Nature
                li.mdl-menu__item(data-val='RU') Cities
            button#add-category-btn.mdl-button.mdl-js-button.mdl-button--icon
              i.material-icons add_circle_outline
            .mdl-tooltip(data-mdl-for="add-category-btn") Add another category
        // End of Categories    

        // Price
        #price-currency-box
          #price-box
            .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
              input#video-price.mdl-textfield__input(type="text" size="100" pattern="-?[0-9]*(\.[0-9]+)?" value="125")
              label.mdl-textfield__label(for="video-price") Price
              span.mdl-textfield__error Price should be a number!
          #currency-box
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select.getmdl-select__fix-height
                input#currency.mdl-textfield__input(type='text', value="EUR", readonly='', tabindex='-1' size="100")
                label(for='currency')
                  i.mdl-icon-toggle__label.material-icons keyboard_arrow_down
                label.mdl-textfield__label(for='currency') Currency
                ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='currency')
                  li.mdl-menu__item(data-val='DE') EUR
                  li.mdl-menu__item(data-val='BY') USD
                  li.mdl-menu__item(data-val='RU') JPY
        // End of Price    

        // Description
        #video-description
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            textarea#video-description.mdl-textfield__input(type='text', rows='3') Gorgeous airal views of Lviv. Historical part of the city. Drone footage.
            label.mdl-textfield__label(for='video-description') Add description
        // End of Description

        // Keywords
        #video-keywords
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#video-keywords.mdl-textfield__input(type="text" value="drone, arial, lviv, historical")
            label.mdl-textfield__label(for="#video-keywords") Keywords (comma separated)
        // End of Keywords

        // Content owner
        .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input#video-name.mdl-textfield__input(type="text" value='Faik Geci')
          label.mdl-textfield__label(for="video-name") Content owner
        // End of Content owner
        
        // Buttons
        #video-btn-box
          div           
            a(href="uploader-uploads.html")
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--primary.mdl-button--raised Save changes
            a(href="uploader-uploads.html")
              button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--accent.mdl-button--raised Unpublish
        // End of Buttons