footer.mdl-mini-footer
  .mdl-mini-footer__left-section
    .mdl-logo Title
    ul.mdl-mini-footer__link-list
      li
        a(href='#') Help
      li
        a(href='#') Privacy & Terms
    p#about
    |Dopcine is a global royalty free video stock platfrom that is focused on delivering high quality footage to the customers.
    br
    |We love to talk about our passion and we are excited to see where our passion and innovation touches you, Only the best is good enough.