// Uses a transparent header that draws on top of the layout's background
header#mini-header.mdl-layout__header.mdl-layout__header--transparent.mdl-layout__header--waterfall
  .mdl-layout__header-row
    // Title
    a(href="frontpage.html")
      img.mdl-layout-title.mdl-layout--large-screen-only(src="./images/dopcine_logo_white.svg" width="100px")
    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    button#sell-button.mdl-button.mdl-js-button.mdl-js-ripple-effect
      i.material-icons file_upload
      span.mdl-layout--large-screen-only Sell footage
    label#signin-button.mdl-button.mdl-js-button.mdl-js-ripple-effect sign in
    .mdl-badge.mdl-badge--overlap(data-badge='3')
      label#show-dialog.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons shopping_cart
  //-   // Navigation
  //- .mdl-layout__header-row
  //-   .mdl-layout-spacer
  //-   nav.mdl-navigation
  //-     a.mdl-navigation__link(href='') Latest footage
  //-     a.mdl-navigation__link(href='') Categories
  //-     //- a.mdl-navigation__link(href='') Link
  //-     //- a.mdl-navigation__link(href='') Link
.mdl-layout__drawer(style="background: transparent")
  span.mdl-layout-title Menu
  nav.mdl-navigation
    a.mdl-navigation__link(href='') Latest footage
    a.mdl-navigation__link(href='') Categories
    //- a.mdl-navigation__link(href='') Link
    //- a.mdl-navigation__link(href='') Link