header#uploader-header.mdl-layout__header
  .mdl-layout__header-row
    // Title
    span.mdl-layout-title #{pageTitle}
    // Add spacer, to align navigation to the right
    .mdl-layout-spacer
    button#sell-button.mdl-button.mdl-js-button.mdl-js-ripple-effect(onclick = "location.href='upload-video.html'")
      i.material-icons file_upload
      span.mdl-layout--large-screen-only Sell footage
    .mdl-badge.mdl-badge--overlap(data-badge='6')
      label#show-dialog.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
        i.material-icons notifications
    label#show-dialog.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect
      i.material-icons account_circle
#uploader-drawer.mdl-layout__drawer
  img.mdl-layout-title.mdl-layout--large-screen-only(src="./images/dopcine_logo_black.svg" width="100px")
  hr(style="width: 80%; margin-left: 10%")
  nav.mdl-navigation

    a.mdl-navigation__link(href='uploader-dash.html')
      i.material-icons dashboard
      |&nbsp&nbsp Dashboard
    a.mdl-navigation__link(href='uploader-uploads.html')
      i.material-icons cloud_upload
      |&nbsp&nbsp Upoads
    a.mdl-navigation__link(href='uploader-profile.html')
      i.material-icons account_box
      |&nbsp&nbsp Profile
    a.mdl-navigation__link(href='frontpage.html')
      i.material-icons web
      |&nbsp&nbsp Dopcine.com