// SHOPPING CART


dialog#login.mdl-dialog.cart
  .mdl-dialog__title Sign in
  .mdl-dialog__content.mdl-grid
    .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .mdl-tabs__tab-bar
        a.mdl-tabs__tab.is-active(href="#login-tab") Login
        a.mdl-tabs__tab(href="#register-tab") Register
      #login-tab.mdl-tabs__panel.is-active
        form.signup-form(action='#')
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#log-email-inp.mdl-textfield__input(type='text')
            label.mdl-textfield__label(for='log-email-inp') Email
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#log-passw-inp.mdl-textfield__input(type='text')
            label.mdl-textfield__label(for='log-passw-inp') Password

      #register-tab.mdl-tabs__panel
        form.signup-form(action='#')
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#reg-fname-inp.mdl-textfield__input(type='text')
            label.mdl-textfield__label(for='reg-fname-inp') First name
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#reg-lname-inp.mdl-textfield__input(type='text')
            label.mdl-textfield__label(for='reg-lname-inp') Last name
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#reg-email-inp.mdl-textfield__input(type='text')
            label.mdl-textfield__label(for='reg-email-inp') Email
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
            input#reg-passw-inp.mdl-textfield__input(type='text')
            label.mdl-textfield__label(for='reg-passw-inp') Password
  

  .mdl-dialog__actions
    button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--raised.mdl-button--colored(type='button') Login
    button.mdl-button.close(type='button') Cancel

script.
  var login = document.querySelector('#login');
  var showDialogButton = document.querySelector('#signin-button');
  if (! login.showModal) {
  dialogPolyfill.registerDialog(login);
  }
  showDialogButton.addEventListener('click', function() {
  login.showModal();
  });
  login.querySelector('.close').addEventListener('click', function() {
  login.close();
  });
// END OF SHOPPING CART